@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  text-transform: capitalize;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #1FFFC3;
  font-size: 40px;
}

h4,
h5 {
  color: #fff;
}

h5 {
  font-size: 20px;
}

button {
  outline: none;
  border: none;
}

input::-moz-placeholder {
  text-transform: capitalize;
  color: #fff;
}

input:-ms-input-placeholder {
  text-transform: capitalize;
  color: #fff;
}

input::placeholder {
  text-transform: capitalize;
  color: #fff;
}

input {
  outline: none;
  border: none;
}

.first_section {
  background-color: #2D2D42;
  padding-bottom: 70px;
  position: relative;
  width: 100%;
}

.first_section .wrapper {
  margin: auto;
  height: 100%;
  width: 80%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.first_section .wrapper .higher_first_section {
  width: 30%;
}

.first_section .wrapper .higher_first_section .brand_img {
  width: 150px;
}

.first_section .wrapper .first_graphic_component {
  width: 100%;
  height: 100%;
}

.first_section .wrapper .first_graphic_component .first_component {
  transform: translateY(-40%);
  height: 500px;
  width: 400px;
}

.first_section .wrapper .second_graphic_component {
  position: absolute;
  right: 0;
  top: 0;
  width: 450px;
  left: 5%;
  top: 40%;
}

.first_section .wrapper .second_graphic_component .second_component {
  width: 100%;
}

.first_section .wrapper .third_graphic_component {
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  top: 80%;
  left: -15%;
}

.first_section .wrapper .third_graphic_component .third_component {
  width: 100%;
  z-index: 1;
}

.first_section .wrapper .first_section_right_block {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  margin-right: 150px;
  margin-top: 200px;
  line-height: 50px;
  text-align: left;
  min-width: 300px;
}

.first_section .wrapper .first_section_right_block h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}

.first_section .wrapper .first_section_right_block button {
  background-color: #1FFFC3;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 5px;
  margin-top: 80px;
  color: #2D2D42;
  transition: 0.3s;
  font-size: 30px;
  padding: 20px;
}

.first_section .wrapper .first_section_right_block button:hover {
  background-color: #2D2D42;
  transform: scale(1.05);
  color: #1FFFC3;
  cursor: pointer;
  opacity: 0.8;
}

.first_section .large_wrapper {
  margin: auto;
  height: 100%;
  width: 95%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin-top: 50px;
}

.first_section .large_wrapper .upper_arrow {
  width: 35px;
}

.second_section {
  background-image: linear-gradient(#175074, #20415f);
  padding: 70px 0px;
  width: 100%;
}

.second_section .right_auto_wrapper {
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  display: flex;
  height: 100%;
  width: 90%;
}

.second_section .right_auto_wrapper .higher_left_block {
  width: 350px;
  height: 300px;
  line-height: 45px;
}

.second_section .right_auto_wrapper .higher_left_block img,
.second_section .right_auto_wrapper .higher_left_block h3,
.second_section .right_auto_wrapper .higher_left_block h4 {
  padding: 15px;
}

.second_section .right_auto_wrapper .higher_left_block .higher_left_specific h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}

.second_section .right_auto_wrapper .lower_left_block {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  margin-top: 100px;
  padding: 15px;
}

.second_section .right_auto_wrapper .lower_left_block img {
  width: 50px;
}

.second_section .right_auto_wrapper .lower_left_block .lower_left_specific {
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  line-height: 50px;
  display: flex;
  height: 100%;
  width: 35%;
}

.second_section .right_auto_wrapper .lower_left_block .lower_left_specific h3 {
  text-transform: capitalize;
  color: #1FFFC3;
  font-size: 20px;
}

.second_section .right_auto_wrapper .lower_left_block .lower_left_specific h4 {
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.second_section .right_auto_wrapper .lower_left_block .lower_left_specific img,
.second_section .right_auto_wrapper .lower_left_block .lower_left_specific h3,
.second_section .right_auto_wrapper .lower_left_block .lower_left_specific h4 {
  padding: 5px 0px;
}

.second_section .second_section_right_block img {
  max-width: 700px;
}

.third_section {
  background: linear-gradient(#27374f, #2d2d42);
  position: relative;
  overflow-x: hidden;
}

.third_section .third_section_container {
  width: 75%;
  height: 100%;
  margin: auto;
  padding: 70px 0;
}

.third_section .third_section_container h4 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}

.third_section::before {
  background-image: url("/img/bg-cut.png");
  background-repeat: no-repeat;
  transform: translateX(-55%);
  background-size: contain;
  position: absolute;
  display: block;
  height: 800px;
  width: 800px;
  opacity: 0.5;
  content: "";
  top: 10%;
  left: 0;
}

.third_section h3 {
  letter-spacing: 2px;
  font-size: 48pt;
  color: #fff;
}

.relative {
  position: relative;
}

.box {
  padding: 150px 100px 100px 100px;
  border: 3px solid #23fdc3;
  margin-top: 40px;
  width: 60%;
}

.third_section_main_block .diamond_img {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 3;
  left: 60%;
}

.third_section_main_block .arrow_left {
  transform: translate(-50%, -50%);
  position: absolute;
  height: 30px;
  width: 20px;
  z-index: 1;
  left: 40%;
  top: 60%;
}

.third_section_main_block .arrow_left img {
  height: 100%;
  width: 100%;
}

.third_section_main_block .arrow_right {
  transform: translate(-50%, -50%);
  position: absolute;
  height: 30px;
  width: 20px;
  z-index: 1;
  left: 110%;
  top: 60%;
}

.third_section_main_block .arrow_right img {
  height: 100%;
  width: 100%;
}

.third_section_main_block .box_card_big {
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 750px;
  width: 55%;
  z-index: 3;
  left: 60%;
  top: 60%;
}

.third_section_main_block .box_card_big img {
  height: 100%;
  width: 100%;
}

.third_section_main_block .box_card_medium {
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 500px;
  opacity: 0.8;
  width: 30%;
  left: 85%;
  top: 60%;
}

.third_section_main_block .box_card_medium img {
  height: 100%;
  width: 100%;
}

.third_section_main_block .box_card_small {
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 300px;
  opacity: 0.8;
  width: 15%;
  left: 100%;
  top: 60%;
}

.third_section_main_block .box_card_small img {
  height: 100%;
  width: 100%;
}

.third_section_main_block .angle {
  position: absolute;
  bottom: 1.5%;
  left: 40%;
}

.third_section_main_block .angle_dark {
  position: absolute;
  color: #2B3349;
  bottom: 4%;
  left: 40%;
}

.third_section_inside_block {
  width: 30%;
}

.third_section_inside_block h5 {
  margin: 20px 0;
  line-height: 30px;
}

.third_section_inside_block h3 {
  text-transform: capitalize;
  color: #1FFFC3;
  font-size: 30px;
}

.fourth_section {
  background-color: #2D2D42;
  padding: 150px;
  width: 100%;
}

.fourth_section .lower_wrapper {
  margin: auto;
  height: 100%;
  width: 60%;
  text-align: center;
}

.fourth_section .lower_wrapper h1,
.fourth_section .lower_wrapper h5 {
  padding: 15px 0px;
  line-height: 40px;
}

.fourth_section .lower_wrapper h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 65px;
  font-weight: bold;
  color: #1FFFC3;
  font-size: 50px;
}

.fourth_section .lower_wrapper h5 {
  text-transform: none;
}

.fourth_section .lower_wrapper .form_block {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.fourth_section .lower_wrapper .form_block label,
.fourth_section .lower_wrapper .form_block input {
  color: #fff;
  padding: 10px 0;
  text-align: left;
}

.fourth_section .lower_wrapper .form_block input {
  border-radius: 5px;
  padding-left: 5px;
  background-color: grey;
}

.fourth_section .lower_wrapper .form_block button {
  font-family: "Roboto", sans-serif;
  background-color: #1FFFC3;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  color: #2B3349;
  transition: 0.3s;
  font-size: 30px;
  padding: 10px;
  margin: auto;
  width: 50%;
}

.fourth_section .lower_wrapper .form_block button:hover {
  background-color: #2D2D42;
  transform: scale(1.05);
  color: #1FFFC3;
  cursor: pointer;
  opacity: 0.8;
}

.fourth_section .lower_wrapper #last_input {
  margin-bottom: 80px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .second_section .second_section_right_block img {
    max-width: 400px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .first_section .second_graphic_component {
    display: none;
  }

  .first_section .first_section_right_block {
    transform: translate(-50%, -50%);
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    position: absolute;
    margin-top: 200px;
    line-height: 50px;
    text-align: left;
    min-width: 300px;
    left: 65%;
    top: 30%;
  }

  .second_section .second_section_right_block {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .first_section {
    height: 600px;
  }

  .first_section .higher_first_section {
    position: absolute;
    top: 0;
    right: 0;
  }

  .first_section .higher_first_section .brand_img {
    max-width: 100px;
  }

  .first_section .second_graphic_component {
    display: none;
  }

  .first_section .first_graphic_component {
    display: none;
  }

  .first_section .third_graphic_component {
    display: none;
  }

  .first_section .first_section_right_block {
    transform: translate(-50%, -50%);
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    position: absolute;
    margin-top: 200px;
    line-height: 50px;
    text-align: left;
    min-width: 300px;
    left: 50%;
    top: 20%;
  }

  .first_section .large_wrapper {
    position: absolute;
    bottom: -40%;
    right: 5%;
  }

  .first_section .large_wrapper .upper_arrow {
    width: 35px;
  }

  .second_section .second_section_right_block {
    display: none;
  }
}

