// responsive 
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .second_section {
        .second_section_right_block {
            img {
                max-width: 400px;
            }
        }
    }
    .third_section {
        .green_block {
            padding: 50px 30px 30px 30px;
            border: 3px solid #23fdc3;
            margin-top: 40px;
            width: 70%;
            }
        .third_section_main_block {
            .diamond_img {
                transform: translate(-50%, -50%);
                bottom: 45%;
                left: 70%;
                }
                .arrow_left {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    height: 30px;
                    width: 20px;
                    z-index: 1;
                    left: 50%;
                    top: 60%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }  
                .arrow_right {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    height: 30px;
                    width: 20px;
                    z-index: 1;
                    left: 110%;
                    top: 60%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .box_card_big {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    max-width: 750px;
                    z-index: 3;
                    width: 45%;
                    left: 65%;
                    top: 60%;
                    img {
                        height: 100%;
                        width: 100%;
                    };
                }      
                .box_card_medium {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    max-width: 500px;
                    opacity: 0.8;
                    width: 25%;
                    left: 85%;
                    top: 60%;
                    img {
                        height: 100%;
                        width: 100%;  
                    }
                }
                .box_card_small {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    max-width: 300px;
                    opacity: 0.8;
                    width: 20%;
                    left: 100%;
                    top: 60%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .angle {
                    position: absolute;
                    bottom: 2%;
                    left: 50%;
                }
                .angle_dark {
                    position: absolute;
                    color: #2B3349;
                    bottom: 4%;
                    left: 50%;
                }
            }
            .third_section_inside_block {
            width: 30%;
            h5 {
                margin: 20px 0;
                line-height: 30px;
            }
            h3 {
                text-transform: capitalize;
                color: #1FFFC3;
                font-size: 30px;
            }
        }
    }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
    .first_section {
        .second_graphic_component {
            display: none;
        }
        .first_section_right_block {
            transform:translate(-50%, -50%);
            @include directionFlex;
            position: absolute;
            margin-top: 200px;
            line-height: 50px;
            text-align: left;
            min-width: 300px;
            left: 65%;
            top: 30%;
        }
    }
    .second_section {
        .second_section_right_block {
            display: none;
        }
    }
    .second_section {
        .right_auto_wrapper {
            height: 100%;
            margin: auto;
            width: 50%;
            .higher_left_block {
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            display: flex;
                width: 350px;
                height: 300px;
                line-height: 45px;
                img, h3, h4 {
                    padding:15px;
                }
                .higher_left_specific {
                    h3 {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 40px;
                        color: #fff;
                    }
                }
            }
            .lower_left_block {
                justify-content: center;
                align-items: flex-start;   
                margin-top: 100px;
                padding: 15px;
                display: flex;
                img {
                    width: 50px;
                }
                .lower_left_specific {
                    justify-content: flex-end;
                    align-items: flex-start;
                    flex-direction: column;
                    line-height: 50px;
                    display: flex;
                    height: 100%;
                    width: 35%;
                    h3 {
                        text-transform: capitalize;
                        color: #1FFFC3;
                        font-size: 20px;
                    }
                    h4 {
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        font-size: 25px;
                    }
                    img, h3, h4 {
                        padding: 5px 0px;
                    }
                }
            }
        }
    }
    .third_section {
        .green_block {
            padding: 20px 30px 30px 30px;
            border: 3px solid #23fdc3;
            margin-top: 40px;
            width: 80%;
            }
        .third_section_main_block {
            .diamond_img {
                transform: translate(-50%, -50%);
                bottom: 45%;
                left: 80%;
                }
                .arrow_left {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    height: 30px;
                    width: 20px;
                    z-index: 1;
                    left: 60%;
                    top: 60%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }  
                .arrow_right {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    height: 30px;
                    width: 20px;
                    z-index: 1;
                    left: 110%;
                    top: 60%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .box_card_big {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    max-width: 750px;
                    z-index: 3;
                    width: 40%;
                    left: 75%;
                    top: 60%;
                    img {
                        height: 100%;
                        width: 100%;
                    };
                }      
                .box_card_medium {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    max-width: 500px;
                    opacity: 0.8;
                    width: 20%;
                    left: 90%;
                    top: 60%;
                    img {
                        height: 100%;
                        width: 100%;  
                    }
                }
                .box_card_small {
                    transform: translate(-50%, -50%);
                    position: absolute;
                    max-width: 300px;
                    opacity: 0.8;
                    width: 15%;
                    left: 100%;
                    top: 60%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .angle {
                    position: absolute;
                    bottom: 2%;
                    left: 50%;
                }
                .angle_dark {
                    position: absolute;
                    color: #2B3349;
                    bottom: 4%;
                    left: 50%;
                }
            }
            .third_section_inside_block {
            width: 30%;
            h5 {
                margin: 20px 0;
                line-height: 30px;
            }
            h3 {
                text-transform: capitalize;
                color: #1FFFC3;
                font-size: 30px;
            }
        }
    }
    .fourth_section {
        background-color: #2D2D42;
        padding: 50px;
        width: 100%;
        .lower_wrapper {
            width: 70%;
            height: 100%;
            margin: auto;
            text-align: center;
            h1, h5 {
                padding: 15px 0px;
                line-height: 40px;
            }
            h1 {
                text-transform: uppercase;
                letter-spacing: 5px;
                line-height: 65px;
                font-weight: bold;
                color: #1FFFC3;
                font-size: 35px;
            }
            h5 {
                text-transform: none;
            }
        }
    }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
    .first_section {
        height: 600px;
        .higher_first_section {
            position: absolute;
            top: 0;
            right: 0;
            .brand_img {
                max-width: 100px;
            }
        }
        .second_graphic_component {
            display: none;
        }
        .first_graphic_component {
            display: none;
        }
        .third_graphic_component {
            display: none;
        }
        .first_section_right_block {
            transform:translate(-50%, -50%);
            @include directionFlex;
            position: absolute;
            margin-top: 200px;
            line-height: 50px;
            text-align: left;
            min-width: 300px;
            left: 50%;
            top: 20%;
        }
        .large_wrapper {
            position: absolute;
            bottom: -40%;
            right: 5%;
            .upper_arrow {
                width: 35px;
            }
        }
    }
    .second_section {
        .second_section_right_block {
            display: none;
        }
    }
    .second_section {
        .right_auto_wrapper {
            height: 100%;
            margin: auto;
            width: 60%;
            .higher_left_block {
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            line-height: 45px;
            display: flex;
            height: 100px;
            width: 250px;
                img, h3, h4 {
                    padding:15px;
                }
                .higher_left_specific {
                    h3 {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 30px;
                        color: #fff;
                    }
                    .brand_actions {
                        max-width: 320px;
                    }
                }
            }
            .lower_left_block {
                flex-direction: column;
                padding-top: 320px;
                display: flex;
                .lower_left_specific {
                    margin-left: 50px;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 0px;
                    line-height: 50px;
                    display: flex;
                    height: 100%;
                    width: 35%;
                    h3 {
                        text-transform: capitalize;
                        color: #1FFFC3;
                        font-size: 30px;
                    }
                    h4 {
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        padding: 5px 0px;
                        font-size: 30px;
                    }
                    img {
                        padding: 5px 0px;
                    }
                }
            }
        }
    }
    .third_section {
        .green_block {
            justify-content: center;
            align-items: center;
            padding: 10px 15px 15px 15px;
            border: 3px solid #23fdc3;
            margin-top: 40px;
            display: flex;
            width: 100%;
            }
        .third_section_main_block {
            .diamond_img {
                transform: translate(-50%, -50%);
                bottom: 60%;
                width: 60px;
                left: 100%;
                }
                .arrow_left {
                    display: none;
                }  
                .arrow_right {
                    display: none;
                }
                .box_card_big {
                    display: none;
                }      
                .box_card_medium {
                    display: none;
                }
                .box_card_small {
                    display: none;
                }
                .angle {
                    position: absolute;
                    width: 50px;
                    bottom: 4%;
                    left: 70%;
                }
                .angle_dark {
                    position: absolute;
                    color: #2B3349;
                    width: 50px;
                    bottom: 5%;
                    left: 70%;
                }
            }
            .third_section_inside_block {
            width: 30%;
            h5 {
                text-align: center;
                line-height: 30px;
                margin: 20px 0;
            }
            h3 {
                text-transform: capitalize;
                text-align: center;
                color: #1FFFC3;
                font-size: 30px;
            }
        }
    }
    .fourth_section {
        background-color: #2D2D42;
        padding: 30px;
        width: 100%;
        .lower_wrapper {
            width: 90%;
            height: 100%;
            margin: auto;
            text-align: center;
            h1, h5 {
                padding: 15px 0px;
                line-height: 40px;
            }
            h1 {
                text-transform: uppercase;
                letter-spacing: 5px;
                line-height: 65px;
                font-weight: bold;
                color: #1FFFC3;
                font-size: 30px;
            }
            h5 {
                text-transform: none;
            }
        }
    }
}