//common
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding:0;
    margin:0;
}
li {
    list-style: none;
    display: inline;
}
a {
    text-decoration: none;
    color: #000;
}
main {
    text-transform: capitalize;
}
h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #1FFFC3;
    font-size: 40px;
}
h3, h5 {
    color: #fff;
}
h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;;
}
h5 {
    font-size: 20px;
}