// main
.first_section {
    background-color: #2D2D42;
    padding-bottom: 70px;
    position: relative;
    width: 100%;
    .wrapper {
        @include genericWrapper;
        @include genericFlex;
        position: relative;
        .higher_first_section {
            width: 30%;
            .brand_img {
                width: 150px;
            }
        }
        .first_graphic_component {
            width: 100%;
            height: 100%;
            .first_component {
                transform: translateY(-40%);
                height: 500px;
                width: 400px;
            }
        }
        .second_graphic_component {
            @include positionAbsolute;
            width: 450px;
            left: 5%;
            top: 40%;
            .second_component {
                width: 100%;
            }
        }
        .third_graphic_component {
            @include positionAbsolute;
            width: 250px;
            top: 80%;
            left: -15%;
            .third_component {
                width: 100%;
                z-index: 1;
            }
        }
        .first_section_right_block {
            @include directionFlex;
            margin-right: 150px;
            margin-top: 200px;
            line-height: 50px;
            text-align: left;
            min-width: 300px;
            h3 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 40px;
                color: #fff;
            }
            button {
                background-color:#1FFFC3;
                text-transform: uppercase;
                font-weight: bolder;
                border-radius: 5px;
                margin-top: 80px;
                color: #2D2D42;
                transition: 0.3s;
                font-size: 30px;
                padding: 20px;
                &:hover {
                    @include colorHover;
                }
            }
        }
    }
    .large_wrapper {
        @include largeWrapper;
        @include rightFlex;
        margin-top: 50px;
        .upper_arrow {
            width: 35px;
        }
    }
}
// end first section 
// second section 
.second_section {
    background-image: linear-gradient(#175074, #20415f);
    padding: 70px 0px;
    width: 100%;
    .right_auto_wrapper {
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        display: flex;
        height: 100%;
        width: 90%;
        .higher_left_block {
            width: 350px;
            height: 300px;
            line-height: 45px;
            img, h3, h4 {
                padding:15px;
            }
            .higher_left_specific {
                h3 {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 40px;
                    color: #fff;
                }
            }
        }
        .lower_left_block {
            justify-content: flex-start;
            align-items: flex-start;   
            display: flex;
            margin-top: 100px;
            padding: 15px;
            img {
                width: 50px;
            }
            .lower_left_specific {
                justify-content: flex-end;
                align-items: flex-start;
                flex-direction: column;
                line-height: 50px;
                display: flex;
                height: 100%;
                width: 35%;
                h3 {
                    text-transform: capitalize;
                    color: #1FFFC3;
                    font-size: 20px;
                }
                h4 {
                    font-size: 25px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
                img, h3, h4 {
                    padding: 5px 0px;
                }
            }
        }
    }
    .second_section_right_block {
        img {
            width: 800px;
        }
    }
} 
// end second section 
// third section 
.third_section {
    background: linear-gradient(#27374f, #2d2d42);
    position: relative;
    overflow-x: hidden;
    .third_section_container {
        width: 75%;
        height: 100%;
        margin: auto;
        padding: 70px 0;
        h4 {
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: bold;
            font-size: 40px;
            color: #fff;
        }
    }
}
  .third_section::before {
    background-image: url('/img/bg-cut.png');
    background-repeat: no-repeat;
    transform: translateX(-55%);
    background-size: contain;
    position: absolute;
    display: block;
    height: 800px;
    width: 800px;
    opacity: 0.5;
    content: "";
    top: 10%;
    left: 0;
  }
  .third_section h3 {
    letter-spacing: 2px;
    font-size: 48pt;
    color: #fff;
  }
  .relative {
    position: relative;
  }
  .box {
    padding: 150px 100px 100px 100px;
    border: 3px solid #23fdc3;
    margin-top: 40px;
    width: 60%;
  }
  .third_section_main_block {
    .diamond_img {
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 3;
        left: 60%;
      }
      .arrow_left {
        transform: translate(-50%, -50%);
        position: absolute;
        height: 30px;
        width: 20px;
        z-index: 1;
        left: 40%;
        top: 60%;
        img {
            height: 100%;
            width: 100%;
        }
      }  
      .arrow_right {
        transform: translate(-50%, -50%);
        position: absolute;
        height: 30px;
        width: 20px;
        z-index: 1;
        left: 110%;
        top: 60%;
        img {
            height: 100%;
            width: 100%;
        }
      }
      .box_card_big {
        transform: translate(-50%, -50%);
        position: absolute;
        max-width: 750px;
        width: 55%;
        z-index: 3;
        left: 60%;
        top: 60%;
        img {
            height: 100%;
            width: 100%;
        };
      }      
      .box_card_medium {
        transform: translate(-50%, -50%);
        position: absolute;
        max-width: 500px;
        opacity: 0.8;
        width: 30%;
        left: 85%;
        top: 60%;
        img {
            height: 100%;
            width: 100%;  
        }
      }
      .box_card_small {
        transform: translate(-50%, -50%);
        position: absolute;
        max-width: 300px;
        opacity: 0.8;
        width: 15%;
        left: 100%;
        top: 60%;
        img {
            height: 100%;
            width: 100%;
        }
      }
      .angle {
        position: absolute;
        bottom: 1.5%;
        left: 40%;
      }
      .angle_dark {
        position: absolute;
        color: #2B3349;
        bottom: 4%;
        left: 40%;
      }
  }
  .third_section_inside_block {
    width: 30%;
    h5 {
        margin: 20px 0;
        line-height: 30px;
    }
    h3 {
        text-transform: capitalize;
        color: #1FFFC3;
        font-size: 30px;
    }
  }
//   end third section 
// fourth section 
.fourth_section {
    background-color: #2D2D42;
    padding: 150px;
    width: 100%;
    .lower_wrapper {
        @include tightWrapper;
        text-align: center;
        h1, h5 {
            padding: 15px 0px;
            line-height: 40px;
        }
        h1 {
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 65px;
            font-weight: bold;
            color: #1FFFC3;
            font-size: 50px;
        }
        h5 {
            text-transform: none;
        }
        .form_block {
            @include directionFlex;
            label, input {
                color: #fff;
                padding: 10px 0;
                text-align: left;
            }
            input {
                border-radius: 5px;
                padding-left: 5px;
                background-color:grey;
            }
            button {
                font-family: 'Roboto', sans-serif;
                background-color: #1FFFC3;
                text-transform: uppercase;
                border-radius: 5px;
                font-weight: bold;
                color: #2B3349;
                transition: 0.3s;
                font-size: 30px;
                padding: 10px;
                margin: auto;
                width: 50%;
                &:hover {
                    @include colorHover;
                }
            }
        }
        #last_input {
            margin-bottom: 80px;
        }
    }
}
// end fourth section 